.playbutton
{
    background-color: #f77575;
    padding: 15px 32px;
    text-align: top;
    font-family: 'Courier New', monospace;
    text-decoration: none;
    display: inline-block;
    font-size: 55px;
    top: 50px;
    transition: 0.3s;
}

.retrybutton
{
    background-color: #f77575;
    padding: 15px 32px;
    text-align: top;
    font-family: 'Courier New', monospace;
    text-decoration: none;
    display: inline-block;
    font-size: 55px;
    top: 50px;
    transition: 0.3s;
    visibility: hidden;
}

.hiddenButton {
    visibility: hidden;
}

.pausebutton
{
    background-color: #9b9b9b;
    padding: 15px 32px;
    text-align: top;
    font-family: 'Courier New', monospace;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    top: 50px;
    transition: 0.6s;
}

.pausebutton:hover
{
    background-color: rgb(16, 16, 16);
}

.playbutton:hover
{
    background-color: rgb(136, 25, 0);
}

